*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden!important;
}
a{
    color: #fff;
    text-decoration: none;
    display: block;
}
.mobile-mode{
    display: none;
}
::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: rgb(219, 0, 0);
}

::selection {
    color: #fff;
    background: rgb(219, 0, 0);
}
section{
    width:100%;
}
section:nth-child(1) {
    height: 100vh;
    margin-bottom: 30px;
    background-color: #fff;
}
section:not(:nth-child(1),:nth-child(2)){
    height: 110vh;
    padding-top: 100px;
    /* padding-bottom: 30px; */
    /* border:1px solid red; */
}
section:nth-child(2) {
    padding-top: 100px;
    padding-bottom: 100px;
}
section:last-child {
    height: unset;
    padding-bottom: 30px;
}
.bg-dark{
    background-color: rgb(247, 247, 247);
}
.title{
    font-size: 30px;
    position: relative;
    margin-bottom: 30px;
    font-weight: bold;
}
.title::after{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width:50px;
    height:4px;
    background-color: rgb(219, 0, 0);
}

/* Header */
.header{
    background:#000;
    width: 100%;;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 999;
}
.container{
    width:90%;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.fa-bars,.fa-x{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.fa-x{
    display: none;
}
.nav-right{
    width: 50%;
    display: flex;
}
.nav-links{
    display: flex;
}
.nav-link{
    margin-right: 40px;
    display: inline-block;
        position: relative;
}
.nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -5px;
    left: 0;
    background-color: rgb(219, 0, 0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.d-mobile{
    display: none;
}


/* Hero */
.hero{
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}
/* .flip-card {
        width: 30%;
            position: relative;
    background-color: transparent;
    perspective: 1000px;
} */

/* This container is needed to position the front and back side */
/* .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
} */


/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

/* Position the front and back side */
/* .flip-card-front,
.flip-card-back {
    position: absolute;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front img,.flip-card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* Style the front side (fallback if image is missing) */
/* .flip-card-front {
    background-color: #bbb;
    color: black;
} */

/* Style the back side */
/* .flip-card-back {
    color: white;
    position:relative;
    transform: rotateY(180deg);
}
.flip-card-back .toggle-btn{
    position:absolute;
    left:25%;
    bottom:10%;
    outline:0;
    border:0;
    padding:10px 20px;
    background-color: rgb(219, 0, 0);
    color: white;
    border-radius: 30px;
    display: none;
    cursor:pointer;
} */
.selfie-wrapper{
    width:30%;
    position:relative;
    /* left:-100%;
    opacity: 0; */
}
.selfie-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* position:relative;
    opacity: 0;
    right: -100%; */
}
.content-2{
    display: none;
}
.greeting{
    position: relative;
    display: flex;
    justify-content: center;
}
.greeting-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:116px;
    user-select: none;
}
.greeting-wrapper h2{
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}
.typing{
    font-size: 48px;
    /* width:100%; */
    height:53px;
    text-align: center; 
    font-weight: bold;
    position: relative;
    user-select: none;
}
.typing::after{
    content:'';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 8px;
    background-color: rgb(219, 0, 0);
}
.message{
    padding-top: 30px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 20px;
}

.btn{
    margin-top: 30px;
    width:200px;
    padding:18px 0;
    text-align: center;
    background:#000;
    cursor: pointer;
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}
/* About */
#about{
    background-image: url("../asset/img/desktop.avif");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
}
.about{
    width:80%;
    background:#fff;
    opacity: .9;
    padding:20px 20px 50px 20px;
    margin-top: 30px;
    
}
.img-wrapper{
    width:40%;
}
.img-wrapper img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.about-content{
    display: flex;
    justify-content: space-between;
}
.paragraph-2{
    font-size: 20px;
    margin: 30px;
    /* font-weight: bold; */
}
.fact{
    width:80%;
    /* margin: 0 auto;   */
    margin-left: 50px;
    height: 200px;    
    display: flex;
    justify-content: space-between;
}
.fact i{
    color:rgb(219, 0, 0);
    margin-right:10px;
}
.fact .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fact div{
    font-size: 18px;
}

/* Resume */
.resume{
    width:80%;
    padding: 20px 20px 0px 20px;
}
.resume .resume-content{
    display: flex;
    width:100%;
}
.resume .col{
    width:100%;
    height:90%;
    /* border:1px solid #000; */
}
.sub-title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.bar{
    /* height: 400px; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    /* border-left: 4px solid #000;
        */
    position: relative;
}
.bar::after{
    content:'';
    display: inline-block;
    position: absolute;
    top: 5px;
    height:80%;
    width:5px;
    background-color: #000;
}
.bar p{
    font-family: 'Encode Sans Expanded', sans-serif;
        font-family: 'Noto Serif TC', serif;
        font-weight: bold;
}
.dot{
    margin-left: 20px;
    position:relative;
}
.dot::after{
    content:'';
    display: inline-block;
    position: absolute;
    left: -25.5px;
    top:3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border:3px solid #000;
    z-index:2;
}
.dot-content{
    /* border:1px solid red; */
    width:100%;
    padding:30px;
    padding-top: 0;
    padding-left: 0;
    /* height:200px; */
    position:relative;
}
.dot-content p{
    margin-top: 0;
}
.tag{
    display: inline-block;
    padding:8px 10px;
    background-color: rgb(219, 0, 0);
    color: #fff;
    margin-bottom: 20px;
}
.skill-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skill-content .section{
    height:100px;
    display: flex;
}
.skill-content .section span{
    font-weight: bold;
}
.progress{
    width:500px;
    height:20px;
    background-color: #fff;
    border:1px solid #000;
    margin-right: 10px;
}
.progress-bar{
    height:100%;
    width:50%;
    background-color: rgb(219, 0, 0);
    margin: 0;
}
a.note-link{
    text-decoration:dotted;
    display: inline-block;
    color:black;
    font-size:18px;
    border-bottom: 1px dotted black;
    transition: all .5s ease-in;
}
a.note-link:hover {
    color: rgb(219, 0, 0);
    border-bottom: 1px dotted rgb(219, 0, 0);
}
/* Portfolio */
.portfolio{
    width:80%;
    padding: 20px 20px 0px 20px;
}
.projects{
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project{
    width:300px;
    height:300px;
    background:gray;
    margin-bottom: 50px;
    position: relative;
}
.project:not(:nth-child(3n)){
    margin-right: 20px;
}
.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tool-group{
    position:absolute;
    display: flex;
    bottom:0;
    width: 100%;
    height: 50px;
}
.tool-group .link{
    width:100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    cursor: pointer;
    background-color: rgb(219, 0, 0);
    opacity: 0;
}
.project:hover .tool-group .modal,.project:hover
.tool-group .link{
    transition: .5s ease-in;
    opacity: 1;
    
}
.tool-group .modal:hover,
.link:hover{
    background-color: rgb(176, 1, 1);
    transition: .5s ease-in;
}
.tool-group div:first-child{
    border-right: 1px solid #fff;
}
/* Footer */
.footer{
    background:#000;
    width:100%;
    height:100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px){
    body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-x: hidden !important;
        }
    .mobile-mode{
        display: flex;
    }
    section:nth-child(1) {
        height: unset;
    }

    section:not(:nth-child(1), :nth-child(2)) {
        height: unset;
    }
    .header{
        /* width:100%; */
        height:unset;
    }
    .mobile-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height:80px;
    }
    .nav{
        background: #000;
        display:flex;
        flex-direction: column;
    }
    .nav-right{
        justify-content: center;
        display: none;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
    }
    .nav-link{
        width:100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .selfie-wrapper {
        width: 100%;
        height:550px;
        overflow: hidden;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .greeting-wrapper{
        width:100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .paragraph-1{
        display: none;
    }
        .typing::after{
            display: none;
        }
    .about{
        width:95%;
        margin-bottom: 30px;
        padding: 20px 20px 80px 20px;
    }
    .about-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    section:nth-child(2) {
        height:unset;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .fact{
        flex-direction: column;
        justify-content: center;
    }
    .col div{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .resume .resume-content{
        flex-direction: column;
        justify-content: center;
    }
    section:not(:nth-child(1), :nth-child(2)){
        padding-top: 10px;
        padding-bottom:10px;
    }
    div.progress-bar{
        margin-top: 0;
        margin-bottom: 0;
    }
    .paragraph-2{
        margin: 0;
        margin-bottom: 60px;

    }
    .portfolio{
        width:100%;
    }
    .project {
        width: 100%;
    }
    .project:not(:nth-child(3n)) {
        margin-right: unset;
    }
        .bar::after{
            top:10px
        }
}